.button {
    font-size: 1.2rem;
    background: unset;
    border: unset;
    padding: 5px 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    background-color: #D3DAD9;

    & svg {
        height: 12px;
        margin-right: 5px;
        transform: translateY(-1px);
    }
}

.red {
    background-color: #EB8181;
}