.modal {
    padding-top: 40px;
    /* position: relative; */
    border-radius: 15px;

    & .closeButton {
        background-color: transparent;
        border: none;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

        & svg {
            height: 1.5rem
        }
    }

}

.warning {
    color: red;
    font-size: 1.5rem;
}

.formGroup {
    display: block;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    input {
        font-size: 3rem;
    }
}

.buttonsContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 50px;
}