.grayContainer {
    & progress {
        width: 100%;
        accent-color: #715A5A;
    }

    & .expenses {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
    }

    & .budget {
        margin: 0;
        text-align: right;
        font-size: 1.2rem;
    }
}

.listItem {
    list-style: none;
    background-color: #715A5A;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.value {
    display: flex;
    align-items: center;
    gap: 10px;
}