.navigation {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(205, 202, 199);
    border-radius: 5px;
    margin: 10px 0;

    & ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    & li {
        margin: 0 15px;
        font-weight: 700;
    }

    & a {
        color: gray;
        font-size: 1.4rem;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
}