.place {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

.address {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
    color: gray;
}

.notes {
    margin: 0;
}

.editButton {
    transform: translateY(2px);
        margin-left: 5px;
        background: transparent;
        border: none;

        & svg {
            height: 1.5rem;
        }
}